

conda.enabled = true



// -------------------------------------------------
//  1. SHARED / DEFAULT PARAMETERS
// -------------------------------------------------
// These are the defaults used if not overwritten by a specific profile.
// Useful for directory structures or fallbacks.

params {
    // Pipeline Defaults
    publish_dir     = "results"
    email           = "your_email@example.com"
    
    
    // Logic Defaults (Safety fallbacks)
    extra_info_fill = false
    is_segmented    = "N"
    
    // Empty placeholders for required inputs
    // This ensures the pipeline fails with a clear error if
    // a user forgets to specify a profile or input params.
    tax_id            = null
    db_name           = null
    master_acc        = null
    ref_list          = null
    bulk_fillup_table = null
}

// -------------------------------------------------
//  2. PROFILES
// -------------------------------------------------
// specific configurations for different run modes

profiles {

    // The 'standard' profile is used if no flag is provided
    standard {
        process.executor = 'local'
    }

    conda{
        conda.enabled = true
        try {
            def detected_path = "which conda".execute().text.trim()
            conda.cmd = params.conda_path ?: (detected_path ?: 'conda')
        } catch (Exception e) {
            conda.cmd = params.conda_path ?: 'conda'
        }
        process.conda = "${projectDir}/environment.yml" // Default env for all processes
    }
    condamamba{
        conda.enabled = true
        conda.useMamba = true
        conda.cmd = System.getenv('CONDA_EXE') ?: 'conda'
        process.conda = "${projectDir}/environment.yml" // Default env for all processes
    }
    // PROFILE: TEST
    // Uses the RABV small dataset for verification
    test {

       

    
        params {
            tax_id            = "11292"
            db_name           = "rabv-jul0425"
            master_acc        = "NC_001542"
            is_segmented      = "N"
            extra_info_fill   = false
            publish_dir       = ${projectDir}/test_out
            
            // Dataset specific paths
            ref_list          = "/home3/oml4h/RABV-gTK/test_data/GenBankSubmissin/rabv_test_ref_list.txt"
            test =1
        }
    }

    // PROFILE: SETUP / PRODUCTION
    // Configuration for the full setup or production run
    setup_rabv_full {
    
        params {
            tax_id            = "11292"
            db_name           = "rabv-jul0425"
            master_acc        = "NC_001542"
            is_segmented      = "N"
            extra_info_fill   = false
            
            // Dataset specific paths
            ref_list          = "${projectDir}/generic/rabv/ref_list.txt"
            test=0
        }
    }
    
    // COMPUTATIONAL ENVIRONMENTS
    // easy toggling of container engines
    docker {
        docker.enabled = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }
    
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}